extends layout

block content
  div#loading-screen
    span.loading-message Loading Placeholder Images...
  main#home-page(title='placeholder cover page')
    h1.name= title
    a(href='/blog') blog
  section.dark-section
  section.bright-section



