$theme-bright-green = #00838F
$theme-dark-green = #0e201f
$screen-height = 100vh

body
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#loading-screen
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100%
  overflow-y: none
  background-color: black
  color: white
  text-align: center
  opacity: 1
  transition: opacity ease-in 0.2s

  &.stop
    opacity: 0

.loading-message
  line-height: 100vh;

#home-page
  height: $screen-height
  padding: 1.33em
  background: $theme-dark-green url('../images/shopping_cart.jpg')
  background-repeat-x: no-repeat
  background-repeat-y: no-repeat
  background-position-x: center
  background-size: cover
  background-blend-mode: luminosity
  visibility: none

.name
  color $theme-bright-green
  font-weight: 200

section
  height: $screen-height

.dark-section
  background-color: $theme-dark-green

.bright-section
  background-color: $theme-bright-green
