body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  opacity: 1;
  z-index: 1000;
}
#loading-screen.stop {
  opacity: 0;
  z-index: -1;
  transition: opacity ease-in 0.2s, z-index 0.2s;
}
.loading-message {
  line-height: 100vh;
}
#home-page {
  height: 100vh;
  padding: 1.33em;
  background: #0e201f url("../images/shopping_cart.jpg");
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-blend-mode: luminosity;
  visibility: none;
}
.name {
  color: #00838f;
  font-weight: 200;
}
section {
  height: 100vh;
}
.dark-section {
  background-color: #0e201f;
}
.bright-section {
  background-color: #00838f;
}
