$theme-bright-green = #00838F
$theme-dark-green = #0e201f
$screen-height = 100vh

body
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.home-page
  height: $screen-height
  padding: 1.33em
  background: $theme-dark-green url('../images/shopping_cart.jpg')
  background-repeat-x: no-repeat
  background-repeat-y: no-repeat
  background-position-x: center
  background-size: cover
  background-blend-mode: luminosity

.name
  color $theme-bright-green
  font-weight: 200

